<app-content-header title="Enseignants" [path]="path"></app-content-header>
<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    
    <div class="row" style="margin-top:15px">
        <div class="col-7 pull-center">
            <ejs-schedule> </ejs-schedule>
        </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
