<app-content-header title="Programmer" [path]="path"></app-content-header>
<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <label>Faculté</label>
            <select class="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
            </select>
        </div>

        <div class="col-4">
            <label class="center">Filiére</label>
            <select class="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
            </select>
        </div>

        <div class="col-4">
            <label>Niveau</label>
            <select class="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-12 pull-center">
            <ejs-schedule> </ejs-schedule>
        </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
