<!--breadcrumbs start-->
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li *ngFor="let item of path;index as i" [class]="'breadcrumb-item '+((path.length-1)===i?'active':'')" >
                <a [routerLink]="[item.link]">{{item.text}}</a>
            </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!--breadcrumbs end-->