<app-content-header title="Facultés" [path]="path"></app-content-header>
<!-- Main content -->
<section class="content">
  <!-- Default box -->
    <div class="container-fluid">        
        <div class="row justify-content-center" style="margin-top:15px">
        
            <div class="input-group col-5 ">
                <div class="input-group-prepend">
                    <button type="button" title="Ajouter une faculté" class="btn btn-primary" data-toggle="modal" data-target="#addFaculte">
                        +
                    </button>
                </div>
                <input type="text" class="form-control" placeholder="Rechercher faculté" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="row mt-3 ml-2 mr-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of listFaculte;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{f.nom}}</td>
                        <td>{{f.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  <!-- /.card -->
</section>
<!-- /.content -->

<form [formGroup]="form" (ngSubmit)="addFaculte()">
  <div class="modal fade" id="addFaculte" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter une faculté</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
              <div class="form-group"  id="formGroupNomFaculte">
                  <label for="exampleInputEmail1">Nom de la faculté</label>
                  <input type="email" class="form-control" id="inputNomFaculte" placeholder="Ex: FST" />
                  <div class="invalid-feedback">
                    Entrez un nom de faculté valide
                  </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <input type="text" class="form-control" id="inputDescriptionFaculte" placeholder="Ex: Faculté des sciences et des technologies" />
              </div>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <app-button
                [type]="'submit'"
                [block]="true"
                [text]="'Enregistrer'"
                [loading]="isSubmitted"
              ></app-button>
        </div>
      </div>
    </div>
  </div>
</form>