<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <img
      src="assets/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8;"
    />
    <span class="brand-text font-weight-light">Udshed</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" class="d-block">Administrateur</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar nav-child-indent flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a [routerLink]="['/admin']" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/emploi-temps']" class="nav-link">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>
              Emploi de temps
            </p>
          </a>
        </li>
        <li class="nav-item">
              <a  class="nav-link">
                <i class="nav-icon fas fa-sitemap"></i>
                <span>Udm</span> 
                <i class="fa fa-angle-left right"></i>
              </a>  
              <ul class="nav-treeview">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/admin/enseignant']">Enseignant</a></li>
                <li class="nav-item"><a [routerLink]="['/admin/faculte']"  href="#" class="nav-link">Faculté</a></li>
                <li class="nav-item"><a  href="#" class="nav-link">Filière</a></li>
                <li class="nav-item"><a  href="#" class="nav-link">Niveau</a></li>
              </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/blank']" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Blank
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

            